li {
    list-style: none;
}
a {
    text-decoration: none;
    font-weight: 800;
}
p {
    font-weight: 800;
}
h1, h2, h3, h4 {
    font-family: "Jost-Bold";
}
@font-face {
    font-family: "Jost-Bold";
    src: url(../fonts/static/Jost-SemiBold.ttf);
}
@font-face {
    font-family: "Jost-Light";
    src: url(../fonts/static/Jost-Light.ttf);
}
body {
    font-family: 'Jost-Light';
}