
@mixin heightCalc($value) {
    height: calc(#{$value});
    height: -webkit-calc(#{$value});
    height: -moz-calc(#{$value});
    height: -ms-calc(#{$value});
    height: -o-calc(#{$value});
}

@mixin objectFit($value) {
    object-fit: $value;
    -webkit-object-fit: $value;
    -moz-object-fit: $value;
    -ms-object-fit: $value;
    -o-object-fit: $value;
}

@mixin transition($value) {
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

@mixin translate($x, $y) {
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
}

@mixin font-title1 {
    font-size: 60px;
    line-height: 70px;
}
@mixin font-title2 {
    font-size: 45px;
    line-height: 55px;
}
@mixin  font-text1 {
    font-size: 19px;
    line-height: 29px;   
}
@mixin blog-title {
    font-size: 28px;
    line-height: 38px;
    color: $color-purple;
}
@mixin maxw($breakpoint) {
    @media screen and(max-width: $breakpoint) {
        @content;
    }
}