$green: #0de9df;
$green-dark: #0bc1b8;
$white: #fff;
$gray : #aaaaaa;
$gray-light: #f4f4f4;
$color-hover-green: #248332;
$purple : #3b3663;
$gray-dark: #a3a3a3;
$gray-darker: #777777;

$black: #111;

$font-primary: "Jost-Light";
$font-primary-bold: "Jost-Bold";
$font-secondary : 'OpenSans';
$font-secondary-bold : 'OpenSans-Bold';


