.abilities {
    background-color: $bg-grey;
    padding: 80px 0px;

    &__item{
        position: relative;
        height: 323px;

        &:after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: $color-hover;
            background-clip: content-box;
            z-index: 1;
            padding: 1px 16px;
        }

        .abilities__itemBox {
            position: absolute;
            padding: 50px 40px;
            transition: all 0.7s ease;
            z-index: 2;
            background-color: $bg-grey;
            &:hover {
                transform: translate(-30px, -30px);
                background-color: $color-white;
            }
        }

        .abilities__itemBoxImage {
            width: 46px;
            height: 35px;
            object-fit: cover;
        }

        .abilities__itemBoxTitle {
            display: block;
            color: $color-purple;
            font-family: 'Jost-Bold';
            font-size: 25px;
            line-height: 35px;
            transition: color 0.5s ease;

            &:hover {
                color: $color-hover;
                text-decoration: none;
            }
        }
        
        .abilities__itemBoxDetail {
            font-size: 17px;
            line-height: 27px;
            color: $color-purple;
        }
    }

}

@media screen and (max-width: 1199px) {
    
    .abilities {

        &__item{
            position: static;
            height: fit-content;

            &::after {
                display: none;
            }

            .abilities__itemBox {
                position: static;
                padding: 10px 10px;
                
                .abilites__itemTitle {
                    font-size: 22px;
                    line-height: 32px;
                }

            }

        }

    }

}

@media screen and (max-width: 991px) {
    .abilities {

        &__item {
            height: 200px;
            
            .abilities__itemBox {
                padding: 10px 40px;
                
                &:hover {
                    transform: translate(0, 0);
                    background-color: transparent;
                }
            }

            &::after {
                display: none;
            }
            
        }

    }
}

@media screen and (max-width: 812px) {
    .abilities {
        padding: 40px 0px;
    }
}

@media screen and (max-width: 575px) {

    .abilities {

        &__item{

            
        }
    }

}