.banner{
    height: 100vh;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0, 1, 15, 0.6);
    }

    &__backgroundImage {
        z-index: -1;
        animation: zoomImage 60s infinite ease;
        @keyframes zoomImage {
            0% {
                transform: translate(-50%, -50%) scale(1);
            }
            50% {
                transform: translate(-50%, -50%) scale(1.5);
            }

            100% {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        max-width: 650px;

        .banner__contentTitle {
            color: $color-white;
            @include font-title1;
        }


        .banner__contentDetail {
            color: $color-white;
            margin: 35px 0px 50px 0px;
            @include font-text1;
        }

        .banner__contentContainsLink {
            @include displayFlex(center);
            flex-wrap: wrap;

            .banner__contentLink {
                padding: 10px 25px;
                background-color: rgba($color: #fff, $alpha: 0.2);
                border: 1px solid $color-white;
                color: $color-white;
                font-size: 20px;
                border-radius: 5px;
                text-decoration: none;
                transition: background-color 0.5s ease;
    
                &:hover {
                    background-color: $color-hover;
                    border-color: transparent;
                }
            }

            .linkActivity {
                @include linkActivity;
            }
        }
    }

    &__bottom {
        position: absolute;
        top: 80%;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        cursor: pointer;

        .banner__bottomMouse {
            width: 28px;
            height: 45px;
            border-radius: 18px;
            border: 2px solid $color-hover;

            .banner__bottomMouseDot {
                width: 6px;
                height: 6px;
                background-color: $color-hover;
                margin: 5px auto;
                animation: dotMove 1.2s infinite ease;
            }

            @keyframes dotMove {
                to {
                    opacity: 0;
                    margin-top: 16px;
                }
            }
        }

        .banner__bottomArrow {

            .banner__bottomArrowItem {
                display: block;
                width: 10px;
                height: 10px;
                border-bottom: 2px solid $color-white;
                border-right: 2px solid $color-hover;
                margin: 0 auto;
                transform: rotate(45deg);
                margin-top: 5px;
                animation: opacityArrow 1.5s infinite ease-in 0.1s;

                &:nth-child(2) {
                    animation-delay: 0.2s;
                }

                &:nth-child(3) {
                    animation-delay: 0.3s;
                }
            }

            @keyframes opacityArrow {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {

    .banner {
        height: auto;
        min-height: 700px;

        &__content {

            .banner__contentTitle {
                font-size: 40px;
                line-height: 50px;
            }

        }

    }

}

@media screen and (max-width: 991px) {

    .banner {
        height: auto;
        min-height: 580px;

        &__content {

            .banner__contentTitle {
                font-size: 40px;
                line-height: 50px;
            }
            
            .banner__contentDetail {
                margin: 20px 0px 25px 0px;
            }
        }

    }

}


@media screen and (max-width: 767px) {
    .banner {
        min-height: 500px;
        &__content {

            .banner__contentDetail {
                margin: 15px 0px 15px 0px;
            }

        }
    }
}

@media screen and (max-width: 575px) {

    .banner{
        min-height: 500px;

        &__content {
            transform: translate(-50%, -46%);

            .banner__contentTitle {
                font-size: 30px;
                line-height: 40px;
            }

            .banner__contentDetail {
                font-size: 16px;
                margin: 0;
            }

            .banner__contentContainsLink {
                margin-top: 10px;

                .banner__contentLink {
                    padding: 5px 10px;
                    font-size: 16px;
                }

            }

        }

        &__bottom {
            top: 80%;

            .banner__bottomMouse {
                width: 20px;
                height: 30px;
                border-radius: 10px;

                .banner__bottomMouseDot {
                    width: 3px;
                    height: 3px;
                }
            }

        }

    }

}

// @media screen and (max-width: 353px) {

//     .banner{

//         &__bottom {
//             top: 85%;
//         }
        
//     }
    
// }
@media screen and (max-height: 375px) {
    
    .banner{
        min-height: 500px;

        &__content {
            transform: translate(-50%, -50%);

            .banner__contentContainsLink {

                .banner__contentLink {
                    padding: 5px 10px;
                    font-size: 16px;
                }

            }
        }

        &__bottom {
            top: 76%;
        }

    }
}

@media screen and (max-height: 320px) {
    
    .banner{
        min-height: 400px;
        &__content {
            transform: translate(-50%, -40%);
        }

    }
}