.bannerAbout {
    height: 300px;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0, 1, 15, 0.6);
    }

    &__imageBg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    &__content {
        transform: translateY(200px);
        max-width: 600px;

        .bannerAbout__contentTitle {
            color: $color-white;
            font-weight: 800;


            .bannerAbout__contentTitleLink {
                color: $color-white;
                transition: color 0.5s ease;
        
                &:hover {
                    color: $color-hover;
                    text-decoration: none;
                }
            }

            .bannerAbout__contentTitleIcon {
                margin: 0px 17px;
                font-size: 12px;
            }
        }
    }

}

.aboutUs {
    background-color: $bg-grey;
}
