.box {
    padding: 100px 0px;
    &__container {
        width: 100%;
        height: 100%;
    }
        h3 {
            color: $color-border;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
        }
        &__title {
            font-size: 45px;
            line-height: 55px;
            color: $color-text2;
        }
        &__detail {
            font-size: 19px;
            line-height: 29px;
            opacity: 0.9;
            color: $color-text2;
        }
        .btn {
            font-size: 19px;
            padding: 10px 40px 10px 40px;
            background-color: $color-hover;
            color: $color-text1;
            transition: background-color 0.5s ease;
            &:hover {
                background-color: #0bc1b8;
            }
        }
        img {
            max-width: 100%;
            border-radius: 5px;
            height: auto;
        }
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: $color-hover;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            animation: box-shadow 1.5s infinite ease;
            &:hover {
                text-decoration: none;
            }
            i {
                font-size: 14px;
                color: $color-text1;
            }
            @keyframes box-shadow {
                0% {
                    box-shadow: 0 0 0 1px rgba(144, 203, 218, 0.4), 0 0 0 8px  rgba(192, 228, 237, 0.4),0 0 0 15px  rgba(192, 228, 237, 0.4);
                }
                100% {
                    box-shadow: 0 0 0 8px rgba(144, 203, 218, 0.4), 0 0 0 15px rgba(144, 203, 218, 0.4), 0 0 0 30px rgba(144, 203, 218, 0.4);
                }
            }
        }
}

@media screen and(max-width: 1068px) {
    .box {
        &__title {
            font-size: 35px;
        }
    }
}
@media screen and(max-width: 992px) {
    .box {
        &__img1 {
            height: auto;
        }
    }
}