.contact {
    padding: 100px 0px;
    &__image {
        width: 100%;
        height: auto;
        border-radius: 7px;
    }
}
@media screen and (max-width: 575px) {
    .contact {
        padding: 50px 0px;
    }
}