.contact {
    padding: 100px 0;
    background-color: $gray-light;
    &-caption, &-title {
        text-align: center;
    }
    &-form {
        margin: 50px auto 0;
        max-width: 600px;
    }
    &-input, &-textare {
        width: 100%;
        margin-bottom: 20px;
    }
    &-textare {
        display: block;
        height: 150px;
        padding: 20px;
    }
    &-btn {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    @include maxw(767px) {
        padding: 50px 0;
        &-form {
            margin-top: 30px;
        }
    }
}