.experience {
    padding: 100px 0;
    background: url('../images/banner1.jpg') no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.5);
        z-index: 1;
    }
    &-main {
        position: relative;
        z-index: 2;
        color: $white;
        max-width: 640px;
    }
    &-links {
        display: flex;
        gap: 0 12px;
    }
    @include maxw(1023px) {
        &-title {
            font-size: 32px;
        }
    }
    @include maxw(1023px) { 
        padding: 50px 0;
        &-title {
            font-size: 25px;
        }
        &-desc {
            margin: 8px 0 15px;
        }
    }
}

// .boxBg {
//     background: url(../images/banner1.jpg) no-repeat 0px 0px;
//     background-attachment: fixed;
//     background-size: cover;
//     position: relative;
//     z-index: 1;
//     padding: 80px 0px;
    
//     &::after {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         z-index: -1;
//         background-color: rgba(0, 1, 15, 0.6);
//     }

//     &__container {
//         max-width: 1000px;
//         margin: 0 auto;

//         .title {
//             color: $color-white;
//         }

//         .detail {
//             color: $color-white;
//             max-width: 600px;
//         }

//         .boxBg__link {
//             padding: 12px 40px;
//             background-color: rgba($color: #fff, $alpha: 0.2);
//             border: 1px solid currentColor;
//             color: $color-white;
//             font-size: 20px;
//             border-radius: 5px;
//             transition: background-color 0.5s ease;
            
//             &:hover {
//                 text-decoration: none;
//                 background-color: $color-hover;
//                 border-color: transparent;
//             }
//         }
//     }

//     .linkActivity {
//         @include linkActivity;
//     }
// }

// @media screen and (max-width: 812px) {

//     .boxBg {
//         padding: 40px 0px;
//     }

// }

// @media screen and (max-width: 382px) {

//     .boxBg {

//         &__container{

//             .boxBg__link {

//                 &:last-child {
//                     margin-top: 10px;
//                 }

//             }

//         }

//     }

// }