// .closeScrollBody {
//     overflow: hidden;
// }
.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    transition: all 0.5s ease;
    &-top {
        padding: 20px 0;
    }
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-list {
        display: flex;
        align-items: center;
        gap: 0 40px;
    }
    &-link {
        color: $white;
        opacity: 0.9;
        @include transition(0.2s);
        &:hover {
            color: $green;
        }
    }
    &-icon {
        margin-right: 5px;
    }
    &-main {
        padding: 25px 0;
        border-top: 1px solid rgba($color: $white, $alpha: 0.2);
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
    }
    &-logo {
        color: $white;
        font-size: 30px;
        font-weight: 700;
        display: flex;
        align-items: center;
    }
    &-img {
        max-width: 42px;
        margin-right: 10px;
    }
    &-tool {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 26px
    }
    &-btn {
        color: $white;
        padding: 10px;
        opacity: 0.9;
        display: inline-block;
        font-family: $font-primary;
        border-radius: 6px;
        letter-spacing: 0.5px;
        border: 1px solid $white;
        background-color: rgba($color: $white, $alpha: 0.2);
        @include transition(0.3s);
        &:hover {
            opacity: 1;
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &-icon-search {
        margin-right: 5px;
    }
    &-icon-bar {
        display: none;
    }
    &-icon-moon {
        font-size: 25px;
        transform: rotate(-20deg);
        color: $white;
    }
    @include maxw(1023px) {
        &-tool {
            gap: 0 15px;
            span {
                display: none;
            }
            
        }
        &-icon-bar, 
        &-icon-moon, 
        &-icon-search {
            font-size: 22px;
        }
        &-icon-bar {
            display: inline-block;
            color: $white;
        }
        &-btn {
            padding: 0;
            border: 0;
            background-color: transparent;
            font-size: 20px;
        }
    }
    @include maxw(767px) {
        &-top,  &-main {
            padding: 10px 0;
        }
        &-container {
            flex-wrap: wrap;
        }
        &-socials {
            gap: 0 20px;
        }
        &-logo {
            font-size: 20px;
        }
    }
    @include maxw(375px) {
        &-top,  &-main{
            padding: 5px 0;
        }
    }
}
.header-active {
    background-color: rgba($white, 0.8);
    .header-link,
    .header-logo,
    .menu-link,
    .header-btn,
    .header-icon-moon{
        color: $purple;
    }
    .menu-link-active{
        color: $green;
    }
    .header-link, .header-logo {
        opacity: 1;
    }
    .header-btn {
        border-color: $purple;
    }
    
}
.menu {
    &-icon-close {
        display: none;
    }
    &-list {
        display: flex;
        align-items: center;
        gap: 0 20px;
    }
    &-item {
        cursor: pointer;
        &.has-child {
            position: relative;
            &:hover {
                .menu-child {
                    opacity: 1;
                    visibility: inherit;
                }
            }
            &:after {
                content: "";
                position: absolute;
                bottom: -50%;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    &-link {
        color: $white;
        font-size: 20px;
        &-active {
            color: $green;
        }
    }
    &-child {
        position: absolute;
        top: 200%;
        left: 0;
        transform: translateX(-30%);
        background-color:$white;
        width: 200px;
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        border-radius: 6px;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        @include transition(0.3s);
        &:after {
            content: "";
            position: absolute;
            top: -8px;
            left: 50%;
            width: 40px;
            height: 40px;
            background-color: $white;
            transform: translateX(-50%) rotate(45deg);
            z-index: -1;
        }
    }
    &-child-link {
        display: block;
        padding: 8px;
        background-color: $white;
        transition: all 0.4s ease;
        border-radius: 4px;
        text-transform: capitalize;
        color: $purple;
        &:hover {
            background-color: $purple;
            color: $white;
        }
    }
    @include maxw(1023px) {
        padding-top: 60px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        background-color: $white;
        transform: translateX(-100%);
        @include transition(0.3s);
        &-active {
            transform: translateX(0);
        }
        &-icon-close {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 25px;
            color: $purple;
        }
        &-list {
            display: block;
        }
        &-item {
            margin-bottom: 5px;
            padding: 0 15px;
        }
        &-link {
            display: block;
            color: $purple;
            padding: 15px 20px;
            width: 100%;
            @include transition(0.3s);
            &:hover {
                background-color: $purple;
                color: white;
                border-radius: 6px;
            }
        }
        &-icon {
            margin-left: 10px;
        }
        &-child {
            position: static;
            transform: translateX(0);
            height: 0;
            padding: 0 10px;
            width: 100%;
            &:after {
                display: none;
            }
            &-active {
                margin: 10px 0;
                height: auto;
                opacity: 1;
                visibility: inherit;
            }
        }
    }
}