.picture {

    &__left {

            .picture__leftTime {
                color: $color-white;
                font-size: 16px;
                text-transform: uppercase;
                opacity: 0.8;
            }

            .picture__leftTitle {
                color: $color-white;
            }

            .detail {
                color: $color-white;
                opacity: 0.8;
            }

            .picture__leftLink {
                color: $color-white;
                font-family: "Jost-Bold";
                font-size: 17px;
                transition: color 0.5s ease;
                padding: 5px 20px;
                border: 1px solid $color-white;
                display: inline-block;

                &:hover {
                    text-decoration: none;
                    color: $color-hover;
                }

                .picture__leftIcon{
                    transform: translate(5px, 2px);
                    color: $color-purple;
                    font-size: 14px;
                }

            }
    }

    &__right {

        .picture__rightImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
        }

    }

    &__bg-one {
        background-color: #ffc845;
    }
    &__bg-two {
        background-color:#f85a40;
    }
    &__bg-three {
        background-color: #0cb9c1;
    }
    &__bg-four{
        background-color: #f48924;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px){
    .picture {
        &__right {
                padding: 30px 0px 30px 0px;
        }
    }
}
@media screen and (max-width: 1068px){
    .picture {
        &__left {

            .picture__leftTime {
                font-size: 15px;
                line-height: 25px;
            }

            .picture__leftTitle {
                font-size: 23px;
                line-height: 33px;
            }
            .detial {
                font-size: 17px;
                line-height: 27px;
            }
        }
    }
}

@media screen and(max-width: 767px) {
    .picture {
            
        &__right {

            .picture__rightImage {
                    height: 300px;
            }

        }
    }
}

@media screen and(max-width: 575px) {
    // .picture {
            
    //     &__right {

    //         .picture__rightImage {
    //                 height: 300px;
    //         }

    //     }
    // }
}