.content {
    padding: 80px 0px;
    background-color: $bg-grey;

    &__title {
        @include blog-title;
    }

}

.containsForm{

    &__searchBox {
        width: 100%;
        height: 50px;
        background-color: $color-white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
        border-radius: 7px;
        
        .containsForm__searchBoxInput {
            width: 80%;
            border: none;
            outline: none;
            color: $color-purple;
            font-size: 17px;
            font-weight: 800;
        }

        .containsForm__searchBoxBtn {
            border: none;
            outline: none;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: $color-hover;
            color: $color-white;

            .containsForm__searchBoxImage {
                width: 15px;
                height: 15px;
                object-fit: cover;
            }

        }

    }
}

.categories {

    &__itemLink {
        @include displayFlex(space-between);
        font-weight: 800;
        transition: color 0.5s ease;
        color: $color-purple;

        &:hover {
            color: $color-hover;
            text-decoration: none;
        }

        .categories__itemContainsText {

            .categories__itemText {
                font-size: 17px;
                line-height: 27px;
            }

            .categories__itemIcon {
                color: $color-hover;
                font-size: 12px;
                margin-right: 10px;
            }

        }

        .categories__itemContainsNumber {
            @include displayFlex(center);
            width: 30px;
            height: 30px;
            background-color: $color-white;
            border-radius: 7px;

            .categories__itemNumber {
                font-size: 12px;
            }

        }

    }

}

.recentPost {

    &__listItem {
        display: flex;

        .recentPost__itemContainsImages {
            width: 85px;
            height: 85px;
            overflow: hidden;

            .recentPost__itemImage {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 7px;
            }

        }

        .recentPost__itemContainsText {
            flex: 1;
            margin-left: 20px;

            .recentPost__itemLink {
                color: $color-purple;
                transition: color 0.5s ease;

                &:hover {
                    text-decoration: none;
                    color: $color-hover;
                }

            }  

            .recentPost__itemTitle {
                font-size: 17px;
                transition: color 0.5 ease;
            }
        } 

    }

}

.twitter {

    &__listItem {

        .twitter__itemLink {
            @include displayFlex(space-between);
            align-items: flex-start;
            color: $color-purple;
            transition: color 0.5s ease;
            text-decoration: none;

            &:hover {
                color: $color-hover;
            }

            .twitter__itemLinkImage {
                width: 30px;
                height: 30px;
                object-fit: cover;  
            }

            .twitter__itemLinkTitle {
                font-size: 17px;
                line-height: 27px;
                margin-left: 20px;
            }  

        }

    }
}

.gallery {
    
    &__item {

        .gallery__itemImage {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 7px;
        }

    }
}

.tags {
    &__list {
       @include displayFlex(left);
        flex-wrap: wrap;

        .tags__item {
            margin-top: 20px;
        }

        .tags__itemLink {
            @include displayFlex(center);
            padding: 10px 25px;
            background-color: $color-white;
            color: $color-purple;
            border-radius: 7px;
            transition: all 0.5s ease;
            opacity: 0.9;
            margin-right: 10px;

            &:hover {
                color: $color-white;
                background-color: $color-hover;
                text-decoration: none
            }

            .tags__itemLinkText {
                font-size: 16px;
                margin: 0;
            }

        }

    }
}

.post {


    &__item {

        .post__itemLinkImage {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 7px;

            &:hover {

                .post__itemLinkBox {
                    transform: translateX(42%) rotate(45deg);
                    opacity: 1;
                }
                
            }

            &:focus {
                outline: none;
            }

            .post__itemLinkBox {
                position: absolute;
                width: 150px;
                height: 50px;
                background-color: $color-hover;
                z-index: 1;
                transform: translateX(100%) rotate(45deg);
                top: 0;
                right: 0;
                opacity: 0;
                transition: transform 0.5s ease  , opacity 0.5s ease;
                color:$color-white;
                @include displayFlex(center);
            }
            
            .post__itemLinkBoxIcon {
                transform: rotate(-45deg);
                margin-right: 20px;
            }

            .post__itemImage {
                width: 100%;
                max-height: 400px;
                object-fit: cover;
                border-radius: 7px;
            }
    
        }
        .post__itemContainsDate {
            @include displayFlex(left);
            margin-top: 20px;

            .post__itemContainsDateText {
                color: $color-border;
            }

            .post__itemContainsDateLink {
                color: $color-hover;
                transition: all 0.5s ease;
                margin-left: 5px;
                @include font-text1();

                &:hover {
                    color: $color-hover-green;
                    text-decoration: none;
                }

            }
        }

        .post__itemContainsTitle {

            &:hover {
                text-decoration: none;

                .post__title{
                    color: $color-hover;
                }

            }

        }

        .post__itemTitle {
            color: $color-purple;
            margin-top: 20px;
            font-size: 30px;
            transition: all 0.5s ease;
        }


    }

    &__itemContainsQuote {
        padding: 30px 0px 30px 30px;
        background-color: $color-white;
        border-radius: 7px;
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            content: "";
            top: 0px;
            left: 0px;
            width: 5px;
            height: 100%;
            background-color: $color-hover;
        }

        .post__itemContainsQuoteText {
            font-size: 20px;
            line-height: 30px;
            color: $color-purple;
            font-style: italic;
            max-width: 90%;
        }

        .post__itemContainsQuoteName {
            @include displayFlex(left);
            color: $color-border;
            font-style: italic;
            font-size: 15px;
        }

        .post__itemContainsQuoteBox {
            display: inline-block;
            width: 10px;
            height: 2px;
            background-color: $color-border;
            margin-right: 10px;
        }

    }
    &__itemInterested {

        .post__itemInterestedImage {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 7px;
        }

    }

    &__itemShare {
        margin: 50px 0px;

        .post__itemShareTitle {
            color: $color-purple;
            font-size: 25px;
            margin-right: 20px;
        }  
        
        .post__itemShareList {
            @include displayFlex(left);

            .post__itemShareListItem {
                @include displayFlex(center);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
                transition: background-color 0.5s ease;
                cursor: pointer;
    
                .post__itemShareIcon {
                    font-size: 15px;
                    color: $color-hover;
                    transition: color 0.5s ease;
                }
    
                &:hover {
                    background-color: $color-hover;
    
                    .post__itemShareIcon {
                        color: $color-white;
                    }
                }
    
            }
        }

    }

    &__itemBoxMember {
        background: $color-white;
        padding: 15px 20px;


        .detail {
            font-size: 18px;
            line-height: 28px;
        }

        .post__itemBoxMemberImage {
            width: 100%;
            height: 170px;
            border-radius: 7px;
            object-fit: cover;
        }

        .post__itemBoxMemberName {
            color: $color-purple;
            font-size: 18px;
        }


        .post__itemBoxMemberListContact {
            @include displayFlex(left);

            .post__itemBoxMemberListContactItem {
                margin-right: 20px;

                 .post__itemBoxMemberListContactItemIcon {
                    color: $color-purple;
                    transition: color 0.5s ease;
                    opacity: 0.9;

                    &:hover {
                        color: $color-hover;
                    }

                }

            }

        }
    }

    &__cmtItem {

        .post__cmtItemImage {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        .post__cmtItemName {
            font-size: 18px;
            color: $color-purple;
        }

        .post__cmtItemDate {
            @include displayFlex(space-between);

            .post__cmtItemDateText {
                color: $color-border;
            }

            .post__cmtItemReplyLink {
                color: $color-hover;
                transition: color 0.5s ease;

                &:hover {
                    color: $color-hover-green;
                    text-decoration: none;
        
                }

                .post__cmtItemReply {
                    font-size: 17px;
                }  
            }

        }
    }

}

.showSilderPost {
    overflow: hidden;
    ul {
        width: fit-content;
        @include displayFlex(left);
        margin: 0px 0px 0px auto;
        position: relative;
        li {
            margin-right: 10px;
            button {
                @include displayFlex(center);
                width: 35px;
                height: 35px;
                border: 1px solid $color-purple;
                background-color: $color-white;
                border-radius: 7px;
                outline: none;
                transition: all 0.5s ease;
            }
        }
        .slick-active {
            button {
                background-color: $color-hover;
                color: $color-white;
                border-color: $color-hover;
            }
        }
    }
    .btnSliderSlickNext, .btnSliderSlickPrev {
        position: absolute;
        right: 0;
        bottom: 4px;
        background-color: transparent;
        outline: none;
        border: none;
        i {
            color: $color-hover;
            transition: color 0.5s ease;
        }
        &:hover i{
            color: $color-hover-green;
        }

    }
    .btnSliderSlickPrev {
        right: 100px;
    }
}


@media screen and (max-width: 991px) {
    .content {
        padding-top: 60px;
    }
    .twitter {

        &__listItem {
    
            .twitter__itemLink {
                @include displayFlex(left);
    
                .twitter__itemLinkImage {
                    margin-left: 20px;
                } 
    
            }
    
        }
    }
    .post {
        &__itemBoxMember {
            .post__itemBoxMemberImage {
                height: auto;
            }
        }
    }

}

@media screen and (max-width: 575px) {
    .content {
        padding: 40px 0px;
    }

    .post {

        &__containDate {
            margin-top: 10px;
        }

        &__title {
            margin-top: 10px;
        }

        &__containQuote {
            padding: 15px 0px 15px 15px;
        }

        &__share {
           margin: 30px 0px;
        }

        &__boxMemberImage {
            height: auto;
        }

    }

    .showSilderPost {
        ul {
            margin-right: 20px;
        }
        .btnSliderSlickNext{
            right: 15px;
        }
    }
}
