.headerActivity {
    background-color: rgba($color: $color-white, $alpha: 0.9);
    transition: background-color 0.5s ease;

    .header__top  {

        .header__topLeft {

            .header__topSupport {

                .header__topSupportItem {

                    .header__topSupportLink {
                        color: $color-purple;
                        
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .header__topRight {

            .header__topRightListIcon {

                .header__topRightContainsIcon{

                    .header__topRightIcon {
                        color: $color-purple;
                        
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .header__bottom {

        .header__bottomNav {

            .header__bottomLogo {
                color: $color-purple;
            }

            .header__bottomMenu {

                .header__bottomMenuList {

                    .header__bottomMenuListItem{

                        .header__bottomMenuListItemLink{
                            color: $color-purple;
                            transition: color 0.5s ease;
                            opacity: 1;
                            
                            &:hover{
                                color: $color-hover;

                                ~ .header__bottomMenuListItemIcon {
                                    color: $color-hover;
                                }

                            }
                        }

                        .header__bottomMenuListItemIcon {
                            transition: color 0.5s ease;
                            font-size: 13px;
                            color: $color-purple;
                        } 
                        
                        .active {
                            color: $color-hover;
                        }

                        .header__bottomMenuDropdown {

                            .header__bottomMenuDropdownItem{
                                color: $color-purple;
                                transition: all 0.5s ease;

                                &:hover {
                                    color: $color-hover;
                                    background-color: $color-white;
                                }
                            }
                        }
                    }
                }

                .header__bottomMenuContainsForm {
                    
                    .header__bottomMenuBtnSearch  {
                        color: $color-purple;
                        border: 1px solid $color-purple;

                        &:hover {
                            color: $color-white;
                            background-color: $color-hover;
                            border-color: transparent;
                        }
                    }
                }
            }

            .header__bottomIcon {

                .icon-moon {
                    color: $color-purple;
                }
            }
        }
    }
}  
