.subscribe {
    padding: 80px 0px;

    &__content {
        max-width: 730px;
        margin: 0 auto;

        .subscribe__formContainsInput {
            width: 63%;

            [type = "email"] {
                width: 100%;
                padding: 26px 12px;
            }

        }

    }
}

@media screen and (max-width: 1199px) {

    .subscribe {
        padding: 40px 0px;
    }

}

@media screen and(max-width: 768px) {
    .subscribe {

        &__content {

            .subscribe__formContainsInput {
                width: 100%;
            }

            .subscribe__formBtn {
                width: 100%;
            }

        }
    }
}