.team {
    background-color: $bg-grey;
    padding: 80px 0px;

    &__item {

        .team__itemContainImage {

            .team__itemImage {
                width: 100%;
                height: 300px;
                border-radius: 5px;
                object-fit: cover;
        
            }

            &:hover{
                + .team__itemContainInfor .team__itemLink {
                    color: $color-hover;
                    text-decoration: none;
                }

            }
        }

        .team__itemLink {
            color: $color-purple;
            font-size: 19px;
            transition: color 0.5s ease;

            &:hover {
                color: $color-hover;
                text-decoration: none;
            }

        }

        .team__itemDetail {
            color: $color-border;
        }

        .team__listContact {

            .team__contactItem {

                .team__contactItemLink {
                    @include displayFlex(center);
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    background-color: $bg-black;
                    transition: all 0.5s ease;
                    
                    &:hover {
                        background-color: $color-hover;
                        text-decoration: none;
                    }

                    .team__contactItemIcon {
                        color: $color-white;
                        font-size: 15px;
                    }

                }
            }
        }

    }
}


@media (max-width: 812px) {
    .team {
        padding: 40px 0px;
    }
}
@media screen and (max-width: 767px) {

    .team {

        &__item {

            .team__itemContainImage {
                .team__itemImage {
                    width: 80%;
                    height: 250px;
                    margin: 0 auto;
                }
            }
        }

        .showSliderTeam {
            overflow: hidden;
    
           .slick-dots{
                width: fit-content;
                margin: 0 auto;
                display: flex;
    
                .slick-active {
                 width: 30px;
                 height: 10px;
                 background-color: $color-hover;
                }

                li {
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: $color-border;
                    cursor: pointer;
                    margin-right: 20px;
                    transition: all 0.5s ease;
       
                    &:hover {
                        width: 30px;
                        height: 10px;
                        background-color: $color-hover;
                    }
       
                }
       
                button {
                    display: none;
                }
    
             }

    
        }
    
    }
    
}

@media screen and (max-height: 320px) {
    .team {
        
        .team__item {   
            @include displayFlex(left);
            
            .team__itemContainImage {
                width: 50%;

                .team__itemImage {
                    height: 100%;
                }
            }
        }
    }
    
}