.video {
    padding: 100px 0;
    display: block;
    &-main {
        display: flex;
        grid-gap: 0 63px;
    }
    &-content {
        max-width: 45%;
    }
    &-right {
        position: relative;
        top: 0;
        left: 0;;
    }
    &-img {
        border-radius: 6px;
        min-height: 100%;
    }
    &-play {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 65px;
        height: 65px;
        border-radius: 100%;
        background-color: $green;
        text-align: center;
        transform: translate(-50%, -50%);
        animation: box-shadow 1.5s infinite ease;
        cursor: pointer;
        @keyframes box-shadow {
            0% {
                box-shadow: 0 0 0 1px rgba(144, 203, 218, 0.4), 
                            0 0 0 8px  rgba(192, 228, 237, 0.4),
                            0 0 0 15px  rgba(192, 228, 237, 0.4);
            }
            100% {
                box-shadow: 0 0 0 8px rgba(144, 203, 218, 0.4), 
                            0 0 0 15px rgba(144, 203, 218, 0.4), 
                            0 0 0 22px rgba(144, 203, 218, 0.4);
            }
        }
    }
    &-icon {
        color: $white;
        line-height: 65px;
    }
    @include maxw(1023px) {
        &-main {
            flex-wrap: wrap;
            gap: 50px 0;
        }
        &-content {
            max-width: 100%;
        }
        &-right {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    @include maxw(767px) {
        padding: 50px 0;
        &-main {
            gap: 30px 0;
        }
    }
    @include maxw(374px) {
        &-icon {
            width: 50px;
            height: 50px;
        }
    }
}

// @media screen and (max-width: 1199px) {
//     .video {

//         &__right {
//             height: 300px;
//         }
//     }
// }

// @media screen and (max-width: 812px) {
    
//     .video {
//         padding: 40px 0px;
//     }

// }

// @media screen and (max-width: 575px) {

//     .video {

//        .showClip {
//            height: 50%;
//        }

//     }
    
// } 