.btnLink {
    font-size: 19px;
    padding: 10px 40px 10px 40px;
    background-color: $color-hover;
    color: $color-text1;
    transition: background-color 0.5s ease;
    &:hover {
        background-color: #0bc1b8;
        color: $color-text1;
    }
}